body {
  overflow: hidden;
  text-align: center;
}
/* .videodiv {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.FamilyMemb {
  background: #ffffff7d;
  width: 70vw;
  /* margin-left: 20vw; */
/* height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px;
} */

.strike {
  text-decoration: line-through;
}
